@tailwind base;
@tailwind components;
@tailwind utilities;

*{
   font-family: 'Poppins', sans-serif;
}
body{
   background-color: #F5F5F5;
}
.rotate{
   transition: transform 0.25s ease 0s;
   transform: rotate(180deg);
}

.flatPic{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/flatPic.png');
}
.pgPic{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/pgPic.png');
}
.furnished-img{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/furnished.png');
}
.readilyAvailable-img{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/readilyAvailable.png');
}
.boys-img{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/boys.png');
}
.girls-img{
   background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.32) 0%, rgba(0, 0, 0, 0.57) 100%),url('../public/girls.png');
}



